.m-page-header{
    display: flex;
    position: relative;
    height: 48px;
    width: 100%;
    align-items: center;
}

.m-page-header .m-page-title{
    font-size: 20px;
    font-weight: 700;
}

.m-page-header .m-page-button{
    position: absolute;
    right: 0;
}

.m-page-toolbar{
    height: 48px;
    width: 100%;
    
}

.m-page-toolbar input{
    margin-top: 5px;
}

.m-page-grid{
    width: 100%;
    height: 600px;
    position: relative;
}

.m-grid{
    position: absolute;
    top: 0;
    bottom: 56px;
    overflow-y: auto;
    width: 100%;
}

.m-paging{
    position: absolute;
    bottom: 5px;
}

 


